:root {

	/* COLORS */
	--background-gradient: linear-gradient(
	135deg,
	#eef5ff 0%,
	#dbeaff 30%,
	#bfd8ff 60%,
	#8cacdb 80%,
	#bfd8ff 100%
);
	--primary-color: #004a9e;
	--secondary-color-a: #5B84C4;
	--secondary-color-b: #03c0e1;
	--tertiary-color: #DCEBFF;
	--quaternary-color: #D64550;

	--font-dark-color: #1B3F77;
	--font-light-color: white;

	/* partials - BORDER, BOX SIZING */
	--partials-border: 1px solid black;
	--partials-border-radius: 15px;
	--partials-box-sizing: border-box;

	/* partials - SIZING, PADDING, MARGIN */
	--partials-margin: 1px 0px;
	--partials-padding: 15px 20px;

	/* FONT */
	--text-font-weigth: 300;
	--text-font-family: 'IBM Plex Mono';

}

html {
	font-size: clamp(9px, 1.5vw, 25px);
}

/* RESET - start */
ul, li, a, article, p,
nav, details, iframe, button,
time, address,
h1, h2, h3, h4 {
	margin: 0px;
	padding: 0px;
	font-size: 1rem;
	font-family: var(--text-font-family);
	font-weight: var(--text-font-weigth);
	list-style: none;
	color: var(--font-dark-color);
	text-decoration: none;

}
/* RESET - end */

a {
	cursor: pointer;
}

h2 {
	font-size: 1.3rem;
	font-weight: 700;
	padding: 10px 0px;
}

h3 {
	font-size: 1.1rem;
	font-weight: 400;
	padding: 5px 0px;
}

* > .advice-box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 40px;
	font-style: italic;

	& > div:first-child {
		display: flex;
		flex-direction: column;

		& h3 {
			align-self: center;
			padding-bottom: 7px;
		}

		& p { 
			padding: 4px 0px;
			& a {
				color: var(--secondary-color-a);
				font-size: 1.2rem;
				font-weight: 700;
				text-decoration: underline;
			}
		}
	}

	& > div:nth-child(2) {
		align-self: center;
		margin-top: 30px;
	}
}

body {
	position: relative;
	background: var(--background-gradient);
	font-family: var(--text-font-family);
	font-weight: var(--text-font-weigth);

	& header, section, footer {
		display: grid;
		margin: var(--partials-margin);
		padding: var(--partials-padding);
		box-sizing: var(--partials-box-sizing);
		border: var(--partials-border);
		border-radius: var(--partials-border-radius);
	}

	& header {
		position: sticky;
		top: 0px;
		grid-template-columns: 1fr 2fr;
		z-index: 10;
		padding-top: 0px;
		backdrop-filter: blur(5px);
		background-color: color-mix(in srgb, var(--tertiary-color) 25%, transparent);
		border: none; /* reset better legible for dev reasons*/
		border-bottom: 5px solid rgba(0, 74, 158, 0.3);
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;

		& h2 {
			display: flex;
			align-items: center;
			gap: 1rem;

			& a:first-child {
				display: flex;
				align-items: center;
				font-size: 3rem;
				color: var(--quaternary-color);
				text-shadow: 1px 1px 3px var(--font-dark-color);
			}

			& a {
				display: flex;
				flex-direction: column;
				font-size: 1.1rem;
				font-weight: 700;
				font-style: italic;
				color: var(--primary-color);
				text-shadow: 0.5px 0.5px 0px var(--font-dark-color);

				& span {
					white-space: nowrap;
				}
				
				& span:last-child {
					font-weight: 400;
					font-size: 0.9rem;
					text-shadow: none;
				}
			}
		}

		& nav {
			display: flex;
			flex-direction: column;

			& ul {
				display: flex;
				justify-content: flex-end;
				gap: 0.5rem;

				& li {
					display: flex;
					align-items: center;
					
					& a {
						padding: 10px;
						text-align: center;
						font-size: 1.2rem;
						font-weight: 400;
					}

					& a.important {
						font-weight: 700;
					}

					& a[href="#services"] {
						background-color: var(--font-dark-color);
						color: var(--font-light-color);
						border-radius: calc(1.2rem/3.5);
					}
				}
			}
		}
	}

	& main {

		& section#introduction {
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
			border: none; /* reset better legible for dev reasons*/
			
			& .introI {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 3rem;

				& h1 {
					align-self: flex-start;
					width: 70%;
					font-size: 2rem;
					font-weight: 700;
					word-spacing: -0.5rem;
				}

				& .quick-links {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr 1fr;
					gap: 1.5rem;

					& a {
						display: flex;
						flex-direction: column;
						align-items: center;
						padding: 15px;
						border: 3px solid rgba(0, 74, 158, 0.1);
						border-radius: 20px;

						& .icon {
							padding: 0.8rem;
							background-color: rgba(255, 255, 255, 0.6);
							border: 1px solid rgba(0, 74, 158, 0.2);
							border-radius: 3rem;
							font-size: 3rem;
						}

						& .title {
							font-weight: 700;
							font-style: italic;
							margin-top: 15px;
							margin-bottom: 4px;
							text-align: center;
						}

						& .note {
							font-size: 0.7rem;
							text-align: center;
						}
					}

					& a:first-child {
						& .icon {
							color: mediumvioletred;
						}
					}

					& a:nth-child(3) {
						& .icon {
							color: plum;
						}
					}

					& a:nth-child(2) {
						& .icon {
							color: var(--secondary-color-a);
						}
					}

					& a:nth-child(4) {
						& .icon {
							color: #5EC6C6;
						}
					}
				}

				& .quick-contacts {
					
					& a, & span {
						font-weight: 400;
					}
				}
			}

			& div#actual {
				display: flex;
				flex-direction: column;

				& article {
					display: flex;
					justify-content: center;
					padding-top: 15px;

					& mark {
						position: relative;
						width: max-content;
						color: inherit;
						background: none;

						padding: 0.08em 0.35em;
						font-size: 2.5rem;
						font-weight: 400;
						font-family: 'Allura';
						opacity: 0.8;

						& mark {
							opacity: 1;
						}
					}

					& mark::before {
						opacity: 0.6;

						content: "";

						position: absolute;
						inset: 0;

						background: linear-gradient(
							104deg,

							rgba(35, 120, 200, 0.95) 0%,
							rgba(70, 165, 235, 0.75) 6%,
							rgba(120, 220, 255, 0.3) 12%,

							rgba(90, 200, 255, 0.55) 22%,
							rgba(120, 215, 255, 0.82) 32%,
							rgba(70, 185, 255, 0.92) 42%,
							rgba(140, 225, 255, 0.75) 52%,
							rgba(60, 175, 255, 0.95) 62%,
							rgba(120, 215, 255, 0.72) 74%,
							rgba(90, 195, 255, 0.88) 84%,

							rgba(130, 220, 255, 0.45) 92%,
							rgba(130, 220, 255, 0) 100%
						);
						border-radius: 0.18em;

						z-index: -1;
					}

					& mark.I::before {
						clip-path: polygon(
							2% 12%,
							99% 0%,
							96.5% 86%,
							0% 100%
						);
					}

					& mark.II::before {
						clip-path: polygon(
							96% 14%,
							1% 0%,
							3.5% 86%,
							100% 100%
						);
					}
				}
			}

			& .introII {
				display: flex;
				flex-direction: column;

				& article {
					& p {
						padding: 4px 0px;
					}
				}

				& .stuff-container {
					display: flex;
					justify-content: center;
					gap: 15px;
					padding: 3px;
					

					& > div {
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						padding: 10px;
						margin-top: 10px;
						width: fit-content;

						& .job-position {
							font-weight: 700;
							color: var(--primary-color);
							text-decoration: underline;
							margin-top: 15px;
							margin-bottom: 4px;
						}

						& img {
							width: 100%;
							border-radius: 2%;
						}
					}
				}
			}
		}

		& section#new-patients {
			display: flex;
			flex-direction: column;
			border: 3px dashed rgba(91, 131, 196, 0.2);
			
			& article {
				display: flex;
				flex-direction: column;

				& p {
					padding: 10px 0px;
					font-weight: 400;
					font-family: 'Allura';
					font-size: 1.8rem;
					
					& mark {
						position: relative;
						color: inherit;
						background: none;

						padding: 0.08em 0.35em;
					}

					& mark::before {
						content: "";

						position: absolute;
						inset: 0;

						background: linear-gradient(
							104deg,

							rgba(35, 120, 200, 0.95) 0%,
							rgba(70, 165, 235, 0.75) 6%,
							rgba(120, 220, 255, 0.3) 12%,

							rgba(90, 200, 255, 0.55) 22%,
							rgba(120, 215, 255, 0.82) 32%,
							rgba(70, 185, 255, 0.92) 42%,
							rgba(140, 225, 255, 0.75) 52%,
							rgba(60, 175, 255, 0.95) 62%,
							rgba(120, 215, 255, 0.72) 74%,
							rgba(90, 195, 255, 0.88) 84%,

							rgba(130, 220, 255, 0.45) 92%,
							rgba(130, 220, 255, 0) 100%
						);
						border-radius: 0.18em;

						z-index: -1;
					}

					& mark.I::before {
						clip-path: polygon(
							4% 14%,
							99% 0%,
							96.5% 86%,
							0% 100%
						);
					}

					& mark.II::before {
						clip-path: polygon(
							96% 14%,
							1% 0%,
							3.5% 86%,
							100% 100%
						);
					}
				}

				& p:nth-child(3) {
					position: relative;
					align-self: flex-end;
					padding: 10px 0px;
					margin-right: 20px;
					border: none;
				}

				& p:nth-child(3)::before {
					content: '';
					display: block;
					position: absolute;

					transform: rotateZ(-17deg);
					top: -3rem;
					left: -10.25rem;
					width: calc(1.8rem * 10);
					aspect-ratio: 1855 / 848;

					background-color: transparent;
					background: url('../../public/images/stamp.png');
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;

					opacity: 0.4;
				}

				& p:nth-child(3)::after {
					content: '';
					position: absolute;
					display: block;
					bottom: 1.1rem;
					left: -10%;
					transform: translateX(5%);
					background-color: black;
					width: 110%;
					height: 0.1rem;
				}
			}

			& a {
				align-self: center;
				margin-top: 60px;
				padding: 10px;
				text-align: center;

				font-size: 1.2rem;
				font-weight: 400;

				background-color: var(--font-dark-color);
				color: var(--font-light-color);
				border-radius: calc(0.8rem);
			}
		}

		& section#services {
			border: none;

			& article {
				margin-bottom: 25px;
			}

			& ul.services-list {
				display: flex;
				flex-direction: column;
				gap: 40px;

				& li.service-item {
					display: flex;
					flex-direction: column;
					padding: 10px;
					padding-bottom: 15px;

					background-color: rgba(3, 192, 225, 0.05);
					border: 3px solid rgba(0, 0, 0, 0.3);
					border-left: none;
					border-top: none;
					border-radius: 10px;

					box-sizing: border-box;

					cursor: pointer;

					& .icon {
						align-self: center;
						justify-content: center;
						align-items: center;
						font-size: 4rem;

						margin-bottom: 10px;
						padding: 0.8rem;
						background-color: rgba(255, 255, 255, 0.6);
						border: 1px solid rgba(0, 74, 158, 0.2);
						border-radius: 4rem;
					}	

					& .icon.active {
						border-color: rgba(0, 74, 158, 0.8);
					}

					& .icon.active > i.fa-user-injured {
						color: var(--quaternary-color);
					}

					& .icon.active > i.fa-stethoscope {
						color: cornflowerblue;
					}		

					& .icon.active > i.fa-vial-circle-check {
						color: seagreen;
					}		
					& .icon.active > i.fa-spa {
						color: plum;
					}		

					& .icon.active > i.fa-clover {
						color: #4ADE80;
					}	

					& .icon.active > i.fa-pen-to-square {
						color: gold;
					}	

					& .icon.active > i.fa-magnifying-glass-plus {
						color: skyblue;
					}	

					& .icon.active > i.fa-business-time {
						color: darkgoldenrod;
					}	
					& .icon.active > i.fa-syringe {
						color: #5EC6C6;
					}

					& .icon.active > i.fa-user-nurse {
						color: rgb(174, 35, 125);
					}

					& h3 {
						font-weight: 500;
						font-style: italic;
						text-decoration: underline;
					}

					& details {

						& summary {
							font-weight: 500;
							padding-bottom: 5px;

							& span {
								font-size: 0.9rem;
								opacity: 0.5;
								font-weight: 400;
							}
						}

						& summary.active {
							& span {
								opacity: 1;
							}
						}
					}
				}

				& li.service-item.active {
					background-color: transparent;
				}

				& li.service-item:first-child {
					margin-top: 20px;
				}
			}
		}
	}

	& footer {
		& .information {
			& .shortcuts { 
				& .content {
					display: flex;
				}
			}
		}
	}
}	

@media (pointer: fine) and (hover: hover) {
	body {
		& main {
			& section#services {
				& ul.services-list { 
					& li.service-item:hover {		
						border-color:  rgba(0, 0, 0, 0.1);
						background-color: transparent;

						& details {
							& summary {
								& span {
									opacity: 1;
								}
							}
						}

						& .icon {
							border-color: rgba(0, 74, 158, 0.8);
						}

						& .icon > i.fa-user-injured {
							color: var(--quaternary-color);
						}

						& .icon > i.fa-stethoscope {
							color: cornflowerblue;
						}				
						
						& .icon > i.fa-vial-circle-check {
							color: seagreen;
						}		
						& .icon > i.fa-spa {
							color: plum;
						}		

						& .icon > i.fa-clover {
							color: #4ADE80;
						}	

						& .icon > i.fa-pen-to-square {
							color: gold;
						}	

						& .icon > i.fa-magnifying-glass-plus {
							color: skyblue;
						}	

						& .icon > i.fa-business-time {
							color: darkgoldenrod;
						}	
						& .icon > i.fa-syringe {
							color: #5EC6C6;
						}

						& .icon > i.fa-user-nurse {
							color: rgb(174, 35, 125);
						}

					}
				}
			}
		}
	}
}

@media(max-width: 1000px){

	body {

		& main {
			& section#introduction {
				& .introII {

					& .stuff-container {
						flex-direction: column;
						
						& > div {
							align-items: center;

							& img {
								width: 50%;
							}
						}
					}
				}
			}
		}

	}
}

@media(max-width: 800px){

	body {
		
		& header {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 2fr;
			padding-bottom: 8px;

			& h2 {
				padding: 0px;
			}

			& nav {
				flex-direction: column;
				align-items: center;
				padding-top: 8px;
				gap: 0.5rem;

				& ul {
					gap: 0px;

					& li {

						& a {
							padding: 5px;
						}

						& a[href="#information-faq"] {
							display: none;
						}	

						& a[href="#gallery"] {
							display: none;
						}

					}
				}
			}
		}

		& main {
			& section#new-patients {
				& article {
					& p:nth-child(3)::after {
						bottom: 1.4rem;
					}
				}
			}
		}
	}
}

@media(max-width: 460px){

	body {
		
		& header {
			& nav {
				gap: 0px;

				& ul{ 
					& li {
						justify-content: center;
					}

						& a[href="#make-appointment"] {
							display: none;
						}	

						& a[href="#new-patients"] {
							display: none;
						}
				}
			}
		}

		& main {

			& section#introduction {

				& .introI {

					& h1 {
						width: 90%;
					}

					& .quick-links {
						grid-template-columns: 1fr 1fr;
						grid-template-rows: 1fr 1fr;
					}
				}
			}

			& section#new-patients {
				& article {
					& p:nth-child(3)::after {
						bottom: 1.7rem;
					}
				}
			}
		}
	}
}

@media(max-width: 300px){
	body {
		& main {

			& section#introduction {

				& .introI {

					& .quick-links {
						grid-template-columns: 1fr;
					}
				}
			}
		}
	}
}
